@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply z-[3000] overflow-x-hidden bg-black;
  }
  html {
    @apply scroll-smooth;
  }
}

/* :root {
  --app-height: 100dvh;
} */

:root {
  /* --vh: 1vh; */
}

/* src/index.css */

html {
  scroll-behavior: smooth; /* Optional: Adds smooth scrolling behavior */
  padding-top: '100px';
  padding-bottom: '100px';
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  /* background: #f4f4f4; */
  opacity: 30%;
  border-radius: 6px; /* Optional: Adds rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Optional: Adds rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Changes color on hover */
}
